################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharp_Certification/bin/Debug/CSharp_Certification.exe
/CSharp_Certification/bin/Debug/CSharp_Certification.exe.config
/CSharp_Certification/bin/Debug/CSharp_Certification.exe.config
/.vs/CSharp_Certification/v15/.suo
/CSharp_Certification/obj/Debug
/CSharp_Certification/obj/Debug
/CSharp_Certification/bin/Debug
/.vs/CSharp_Certification/v15
